<div class="editorsBlock">
	<p>-- Story by --</p>
	<p><a href="http://www.expressnews.com/author/john-tedesco/" target="_blank">John Tedesco</a></p>
	<p>March 10th, 2017</p>
	<br>
	<p>In a five-month investigation into the deadly Lockhart crash, the San Antonio Express-News found that hot-air balloons suffer higher accident rates than other aircraft, and similar fatality rates, yet the FAA has turned down advice from its own expert to increase safety standards for balloon pilots.</p>
	<br>
	<p>This is Part I of II.</p>
	<p><a href="http://labs.expressnews.com/adrift-part-2/index.html" target="_blank">Read Part II here.</a></p>
	<br>
	<p>-- Graphics & Presentation --</p>
	<p>Mike Fisher, Luke Whyte & Nan Keck</p>
	<br>
	<p>-- Photos --</p>
	<p>Edward A. Ornelas</p>
</div>
<p class="block">{{text}}</p>