<div class="editorsBlock">
	<p>Part I of II in our coverage of 2016's fatal Lockhart hot air balloon accident and the associated lack of FAA regulation over the entire balloon industry.</p><br>
	<p><a href="#" target="_blank">Read Part II here.</a></p><br>
	<p>-- Credits --</p>
	{{!-- <p>Reporter – John Tedesco</p>
	<p>Graphics – Michael Fisher</p>
	<p>Visualization – Luke Whyte</p> --}}
	<p class="title">Reporter</p>
	<p>John Tedesco</p>
	<p class="title">Graphics & Presentation</p>
	<p>Mike Fisher, Luke Whyte & Nan Keck</p>
</div>
<p class="block">{{text}}</p>